body {
    background-color: #eeeeee;
    color: #333333;
    margin-top: 2rem;
    height: 100%;
    font-family: 'Futura', sans-serif;
    text-align: left;
    min-height: 75rem;
    padding-top: 4.0rem;
    /* background-image: url("/static/back_img/homepage.png"); */
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center top;
    background-color: #2a5236;
    background: url("indoor_plant.jpg") no-repeat;
      background-size: cover;
}
body.sign {
    background-color: #eeeeee;
    color: #333333;
    margin-top: 2rem;
    height: 100%;
    font-family: 'Futura', sans-serif;
    text-align: left;
    min-height: 75rem;
    padding-top: 4.0rem;
    /* background-image: url("/static/back_img/homepage.png"); */
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center top;
    background-color: #2a5236;
    background: url("signup.jpg") no-repeat;
      background-size: cover;

}

body.search {
    background-color: #eeeeee;
    color: #333333;
    margin-top: 2rem;
    height: 100%;
    font-family: 'Futura', sans-serif;
    text-align: left;
    min-height: 75rem;
    padding-top: 4.0rem;
    background-image: url("/static/back_img/plantsearch.jpeg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center top;

}

body.allplants {
    background-color: white;
}
div {
    display: block;
}
form { 
    margin: 0 auto; 
    width:200px;
}
form.plantstatus { 
    background-color:#d5e2c5;
    width: 400px;
    border-radius: 15px;
}
.to-left-form{
    margin: 15px; 
    widows: 200px;
}
h1,h2,h3,h4,h5 {
    font-family: 'Futura';
    margin: 0 auto; 
    width:200px;
}

h1.welcome {
    margin-top: 2em;
    color: #fcfcfc;
}

h1.signup_page {
    margin-top: 2em;
    color: #fcfcfc;
    
}

ul li {
    margin: 0 auto; 
    width:200px;
  }
p {
    font-size: 18px;
    font-family: 'Proxima Nova';
    margin: 0 auto; 
    width:200px;
}

img {
    display: block;
    margin: 0 auto; 
    width:200px;
}
.navbar-default {
    background-color: #6E8B3D;
}
.navbar-brand {
    color: #d7e7d2;
    font-weight: bold;
}
.navbar-nav .nav-link {
    color: #d7e7d2;
}

.card-img-top {
    width: 100%;
    object-fit: cover;
}

h2.searchbar {
    /* text-align: center; */
    margin-top: 7em;
    color: #fcfcfc;
}
h2.login {
    text-align: center;
    margin-top: 1em;
    color: #7f9b74;
}
h2.signup {
    text-align: center;
    margin-top: 1em;
    color: #7f9b74;
}
input[type=submit] {
    padding:5px 15px; 
    background:rgb(119, 131, 115); 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
    color: white
}

#background-video {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }

  #signup-video {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }

  .login-container {
    background-color: white;
    padding: 25px;
    border: 2px solid #D3D3D3;
    border-radius: 25px;
}
.login-img {
    width: 40%;
    height: auto;
}

.section-container {
    background-color: white;
    border: 2px solid #D3D3D3;
    border-radius: 25px;
    margin: 25px;
    padding: 5px;
    width: 57%;
    position: absolute;
    left: 21.5%;
   
}

.form-container {
    position: relative;
}
h6.slogan{
    text-align: center;
    position: relative;
}

h1.alluserplants {
    color: white;
}

#plant_input {
    border-radius: 20px;
}
  @media (max-width: 750px) {
    #background-video { display: none; }
  }