<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Corinthia:wght@700&family=Meow+Script&display=swap" rel="stylesheet">
     <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
     <link rel='stylesheet' href="/static/main.css">
     <!-- Javascript  -->
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
      </svg>
    {% block head %}
    <title>
      {% block title %}{% endblock %}
    </title>

    {% endblock %}
  </head>
  <body class="search">
  <!-- NAVBAR -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-default">
      <div class="container">
      <a class="navbar-brand" id="title" href="/">Plantlet</a>
      <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
      aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarToggle">
          <ul class="navbar-nav ml-auto">
            <a class="nav-link" href="{{ url_for('show_signup_form') }}"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
              <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
              <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
            </svg> Sign Up</a>
            <a class="nav-link" href="{{ url_for('all_plants') }}">All Plants</a>
            {% if "user_email" in session %}
            <a class="nav-link" href="/logout">Logout</a>
            {% endif %}
          </div>
    </nav>
  <!------------------------------------------>
<h1 class="to-plants" style="color: white;">Welcome!</h1>
<h2 class="searchbar">Plant Search</h2>
<form class="search" autocomplete="off" action="/plant_details" >
    <input onkeyup="showPlantResults(this.value)" id="plant_input" type="text" name="plantsearch"  placeholder="  Search plants">
    <!-- <input type="submit"> -->
    <div style="width:300px;" id="result"></div>
</form>
<p class="to-plants"> <a href="/user_plants"> Or go to My Plants! </a> </p>
{% block body %}{% endblock %}

{% block after_body %}{% endblock %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
<script src="/static/search.js"></script>

</body>
</html>