{% extends 'base.html' %}
{% block title %} Plantlet Home {% endblock %}
{% block body %}
<!-- LOGIN  -->
<div class="container top-margin">
  <h1 class="welcome">Welcome to <div id="welcome">Plantlet!</div></h1>
  <div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
      <div class="login-container">
        <img class="login-img centered-img heading-margin" src="/static/back_img/plant.png">
        <h2 class="login">Log In</h2>
       <form action="/login" method="POST">
        <div class="mb-3">
        <label for="inputEmail" class="form-label" style="color:#7f9b74">Email address</label>
        <input type="email" name = "email" class="form-control" id="email">
        </div>
        <div class="mb-3">
       <label for="inputPassword" class="form-label" style="color:#7f9b74">Password</label>
       <input type="password" name ="password" class="form-control" id="password">
       </div>
       <button class="btn-submit-three" >Submit</button>
       <a class="dropdown-item" style="color: #7f9b74" href="/signup"> No account? Sign up! </a>
      </form>
    </div>
   </div>
<div class="col-lg-4"></div>
</div>

</div> <!-- /container -->
{% endblock %}
