{% extends 'base.html' %}
{% block title %}{{ plant.common_name }}{% endblock %}
{% block body %}

<h1 style="color: white;">{{ plant.common_name }}</h1>

 <!------------------------------------------>
<div class="section-container">
  <div class="row">

  <div class="col-lg-5">
<p>
  Scientific name: {{ plant.scientific_name }}
</p>
<p>
 Preferred Light: {{ plant.preferred_light }}
</p>
<p>
 Watering Needs: {{ plant.watering_needs }}
</p>
<p>
 Preferred Soil: {{ plant.preferred_soil}}
</p>
<img src="/static/img/{{ plant.plant_img }}">
<a class="dropdown-item" style="color: #7f9b74" href="/"> Login to store this plant to your dashboard! </a>
</div> <!-- /container -->
{% if "user_email" in session %}
<div class="col-lg-7">
<form class="plantstatus" action="/plants/{{ plant.plant_id }}/add" name="Add Plant" method="POST">
<label for="Growth">Choose your plant's life cycle stage: </label>
  <select name="growths">
    {% for growth in growths %}
    <option value="{{ growth }}" SELECTED>{{ growth }}</option>
    {% endfor %}   
  </select>
<label for="Condition">Choose your plant's condition: </label>
  <select name="conditions">
    {% for condition in conditions %}
    <option value="{{ condition }}" SELECTED>{{ condition }}</option>
    {% endfor %}   
  </select>
<label for="Light">What is your plant's current light condition?</label>
  <select name="lights">
    {% for light in lights %}
    <option value="{{ light}}" SELECTED>{{ light}}</option>
    {% endfor %}   
  </select>
<label for="Soil">What is your plant's current soil condition? </label>
  <select name="soils">
    {% for soil in soils %}
    <option value="{{ soil }}" SELECTED>{{ soil }}</option>
    {% endfor %}   
  </select>
<label for="Water">Select the level of water your plant received: </label>
  <select name="waterneeds">
    {% for water in waterneeds %}
    <option value="{{ water}}" SELECTED>{{ water }}</option>
    {% endfor %}   
  </select>
  <p>
    <button class="btn btn-primary btn-block form-btn" style="background-color:rgb(119, 131, 115)" >Submit</button>
  </p>
</form>
</div>
{% endif %}
</div>
</div> <!-- /row -->

{% endblock %}