{% extends 'base.html' %}
{% block head %}
	{# ChartJS #}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/chart.js"></script>

	{# If you want to use time scales, you have to import a date library and the Chart.js adapter #}
	<script src="https://cdn.jsdelivr.net/npm/luxon@2.0.2/build/global/luxon.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@1.1.0/dist/chartjs-adapter-luxon.min.js"></script>
  
	{# randomColor: generate random colors #}
	<script src="https://cdn.jsdelivr.net/npm/randomcolor@0.6.2/randomColor.js"></script>
{% endblock %}
{% block body %}
<div class="container mt-4">
	<h1 class="alluserplants">Plant Tracker</h1>
  <div class="row">
			<div class="col-lg-3 col-md-7 col-sm-12 col-xs-12 pb-4">
				<div class="card shadow-sm">
          <style>
            p {text-align: center;}
            </style>
					<img src="/static/img/{{ user_plant.plant.plant_img }}" class="bd-placeholder-img card-img-top" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
					<p class="card-text"><b>{{ user_plant.plant.common_name }} </b></p>
          			<p class="card-text"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sun" viewBox="0 0 16 16">
						<path d="M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"/>
					  </svg> Current Light: {{ user_plant.current_light}}</p>
					<p class="card-text">  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-moisture" viewBox="0 0 16 16">
						<path d="M13.5 0a.5.5 0 0 0 0 1H15v2.75h-.5a.5.5 0 0 0 0 1h.5V7.5h-1.5a.5.5 0 0 0 0 1H15v2.75h-.5a.5.5 0 0 0 0 1h.5V15h-1.5a.5.5 0 0 0 0 1h2a.5.5 0 0 0 .5-.5V.5a.5.5 0 0 0-.5-.5h-2zM7 1.5l.364-.343a.5.5 0 0 0-.728 0l-.002.002-.006.007-.022.023-.08.088a28.458 28.458 0 0 0-1.274 1.517c-.769.983-1.714 2.325-2.385 3.727C2.368 7.564 2 8.682 2 9.733 2 12.614 4.212 15 7 15s5-2.386 5-5.267c0-1.05-.368-2.169-.867-3.212-.671-1.402-1.616-2.744-2.385-3.727a28.458 28.458 0 0 0-1.354-1.605l-.022-.023-.006-.007-.002-.001L7 1.5zm0 0-.364-.343L7 1.5zm-.016.766L7 2.247l.016.019c.24.274.572.667.944 1.144.611.781 1.32 1.776 1.901 2.827H4.14c.58-1.051 1.29-2.046 1.9-2.827.373-.477.706-.87.945-1.144zM3 9.733c0-.755.244-1.612.638-2.496h6.724c.395.884.638 1.741.638 2.496C11 12.117 9.182 14 7 14s-4-1.883-4-4.267z"/>
					  </svg> Soil Status: {{ user_plant.soil_status}}</p>
					<p class="card-text"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-droplet" viewBox="0 0 16 16">
						<path fill-rule="evenodd" d="M7.21.8C7.69.295 8 0 8 0c.109.363.234.708.371 1.038.812 1.946 2.073 3.35 3.197 4.6C12.878 7.096 14 8.345 14 10a6 6 0 0 1-12 0C2 6.668 5.58 2.517 7.21.8zm.413 1.021A31.25 31.25 0 0 0 5.794 3.99c-.726.95-1.436 2.008-1.96 3.07C3.304 8.133 3 9.138 3 10a5 5 0 0 0 10 0c0-1.201-.796-2.157-2.181-3.7l-.03-.032C9.75 5.11 8.5 3.72 7.623 1.82z"/>
						<path fill-rule="evenodd" d="M4.553 7.776c.82-1.641 1.717-2.753 2.093-3.13l.708.708c-.29.29-1.128 1.311-1.907 2.87l-.894-.448z"/>
					  </svg>Water Status: {{ user_plant.water_status}}</p>
					<p class="card-text"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar4-event" viewBox="0 0 16 16">
						<path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v1h14V3a1 1 0 0 0-1-1H2zm13 3H1v9a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V5z"/>
						<path d="M11 7.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z"/>
					  </svg> Date Plant Added: {{ user_plant.date_plant_added }}</p>
					<div class="card-body">
						<div class="d-flex justify-content-between align-items-center">
							<div class="btn-group">
								<a href="/user_plants/{{ user_plant.users_plants_id }}">
									<button type="button" class="btn btn-sm btn-outline-secondary">View</button>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		<div class="col-lg-9 col-md-5 col-sm-12 col-xs-12">
		<canvas class="chart" id="conditionChart"></canvas>
	</div>
  </div>
<div class="row">
<div class="col-lg-4 col-md-7 col-sm-12 col-xs-12 pb-4">
<form class="add-plant-form" action="/user_plants/{{ user_plant.users_plants_id }}", method="POST">
	<h5>Track Plant Progress</h5>
<input type="hidden" id="users_plants_id" name="users_plants_id" value="{{user_plant.users_plants_id}}" >
<label for="Growth">Choose your plant's life cycle stage: </label>
  <select name="growths" class="form-control">
    <option value="seed" SELECTED>seed</option>
	<option value="sprout" SELECTED>sprout</option>
	<option value="plantlet" SELECTED>plantlet</option>
	<option value="adult plant" SELECTED>adult plant</option>
	
  </select>
<label for="Condition">Choose your plant's condition: </label>
  <select name="conditions" class="form-control">
	<option value="healthy" SELECTED>healthy</option> 
	<option value="brown leaves" SELECTED>brown leaves</option>
	<option value="black spots" SELECTED>black spots</option>
	<option value="wilting" SELECTED>wilting</option>
	<option value="dying" SELECTED>dying</option>
  </select>
	<textarea name="plant_note">Enter text here</textarea>
	<button class="btn btn-primary btn-block form-btn" outline: none; style="background-color:rgb(119, 131, 115)" >Submit</button>
  </form>
</div>
<div class="col-lg-8 col-md-5 col-sm-12 col-xs-12" id="note_div">
  {% if user_plant_notes %}  
	{% for note in user_plant_notes %}
		{% if note %}  
		<div class="note">
		<h5 class="plant_note"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
			<path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
		  </svg> Plant Note</h5>
		<p>{{note.plant_note}}</p>
		<p> <b>Stage: </b> {{note.form_growth}} </p>  
		<p> <b>Condition: </b> {{note.form_condition}}  </p>
		</div>
		{% endif %}
	{% endfor %}
{% endif %}
</div>
</div>
</div>
{% endblock %}

{% block after_body %}
<script src="/static/chart.js"></script>
{% endblock %} 