{% extends 'base.html' %}
{% block head %}
	{# ChartJS #}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/chart.js"></script>

	{# If you want to use time scales, you have to import a date library and the Chart.js adapter #}
	<script src="https://cdn.jsdelivr.net/npm/luxon@2.0.2/build/global/luxon.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@1.1.0/dist/chartjs-adapter-luxon.min.js"></script>
  
	{# randomColor: generate random colors #}
	<script src="https://cdn.jsdelivr.net/npm/randomcolor@0.6.2/randomColor.js"></script>
{% endblock %}
{% block body %}
<canvas class="chart" id="conditionChart"></canvas>
<div class="container mt-4">
	<h1 class="alluserplants">Plant Tracker</h1>
  <div class="row">
			<div class="col-lg-3 col-md-7 col-sm-12 col-xs-12 pb-4">
				<div class="card shadow-sm">
          <style>
            p {text-align: center;}
            </style>
					<img src="/static/img/{{ user_plant.plant.plant_img }}" class="bd-placeholder-img card-img-top" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
					<p class="card-text"><b>{{ user_plant.plant.common_name }} </b></p>
          			<p class="card-text"> Current Light: {{ user_plant.current_light}}</p>
					<p class="card-text"> Soil Status: {{ user_plant.soil_status}}</p>
					<p class="card-text"> Water Status: {{ user_plant.water_status}}</p>
					<p class="card-text"> Date Plant Added: {{ user_plant.date_plant_added }}</p>
					<div class="card-body">
						<div class="d-flex justify-content-between align-items-center">
							<div class="btn-group">
								<a href="/user_plants/{{ user_plant.users_plants_id }}">
									<button type="button" class="btn btn-sm btn-outline-secondary">View</button>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
  </div>
</div>
{% if user_plant_notes %}  
	{% for note in user_plant_notes %}
		{% if note %}  
		<div>{{note.plant_note}}</div>
		<div> {{note.form_growth}} </div>  
		<div> {{note.form_condition}} </div>
		{% endif %}
	{% endfor %}
{% endif %}

<form action="/user_plants/{{ user_plant.users_plants_id }}", method="POST">
<input type="hidden" id="users_plants_id" name="users_plants_id" value="{{user_plant.users_plants_id}}" >
<label for="Growth">Choose your plant's life cycle stage: </label>
  <select name="growths">
    <option value="seed" SELECTED>seed</option>
	<option value="sprout" SELECTED>sprout</option>
	<option value="plantlet" SELECTED>plantlet</option>
	<option value="adult plant" SELECTED>adult plant</option>
	
  </select>
<label for="Condition">Choose your plant's condition: </label>
  <select name="conditions">
	<option value="healthy" SELECTED>healthy</option> 
	<option value="brown leaves" SELECTED>brown leaves</option>
	<option value="black spots" SELECTED>black spots</option>
	<option value="wilting" SELECTED>wilting</option>
	<option value="dying" SELECTED>dying</option>
  </select>
	<textarea name="plant_note">
	Enter text here</textarea>
	<input type="submit">
  </form>
{% endblock %}


{% block after_body %}
<script src="/static/chart.js"></script>
{% endblock %} 